:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --main-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --additional-bcg-color: #F5F4FA;
}
body{
    background-color: var(--main-bcg-color);
}
/* header */
.link{
    text-decoration: none;
}
.accent{
    color: var(--accent-color);
}
.light-theme{
    color: var(--black-text-color);
}
.list{
    list-style: none;
}
.nav-link{
    color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}
.contact-link{
    color: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
/* Main index.html */
/* Герой */
.hero-section{
    background-color: var(--secondary-bcg-color);
}
.hero-title{
    color: var(--white-text-color);
}
.main-button{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
/* Переваги */
.advanteges-title{
    color: var(--primary-text-color);
}
.advanteges-description{
    color: var(--secondary-text-color)
}
/* Чим займаємось */
/* Команда */
.section-title{
    color: var(--primary-text-color);
}
.team-section{
    background-color: var(--additional-bcg-color);
}
.team-list-item{
    background-color: var(--main-bcg-color);
}
.employee-name{
    color: var(--primary-text-color);
}
.employee-position{
    color: var(--secondary-text-color);
}
/* Footer */
.footer{
    background-color: var(--secondary-bcg-color);
}
.dark-theme{
    color: var(--white-text-color);
}
.address-link{
    color: var(--white-text-color);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
.contact-link-footer{
    color: var(--contacts-text-color);
}
.contact-link-footer:hover,
.contact-link-footer:focus{
    color: var(--accent-color);
}