:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --main-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --additional-bcg-color: #F5F4FA;
    --btn-active: #188CE8;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}
body{
    color: var(--primary-text-color);
    background-color: var(--main-bcg-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
button{
    cursor: pointer;
}
/* header */
.logo{
    font-family: var(--logo-font);
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.accent{
    color: var(--accent-color);
}
.light-theme{
    color: var(--black-text-color);
}
.nav-link,
.contact-link{
 font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.nav-link{
    color: var(--primary-text-color);
   
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}
.contact-link{
    color: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
/* Main index.html */
/* Герой */
.hero-section{
    background-color: var(--secondary-bcg-color);
}
.hero-title{
    color: var(--white-text-color);
}
.main-button{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
.main-button:hover,
.main-button:focus{
    background-color: var(--btn-active);
}
/* Переваги */
.advanteges-title{
    color: var(--primary-text-color);
}
.advanteges-description{
    color: var(--secondary-text-color)
}
/* Чим займаємось */
/* Команда */
.section-title{
    
}
.team-section{
    background-color: var(--additional-bcg-color);
}
.team-list-item{
    background-color: var(--main-bcg-color);
}
/* .employee-name{
    
} */
.employee-position{
    color: var(--secondary-text-color);
}
/* Footer */
.footer{
    background-color: var(--secondary-bcg-color);
}
.dark-theme{
    color: var(--white-text-color);
}
.address-link{
    color: var(--white-text-color);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
.contact-link-footer{
    color: var(--contacts-text-color);
}
.contact-link-footer:hover,
.contact-link-footer:focus{
    color: var(--accent-color);
}
/* Main portfolio.html */
.filter{
    color: var(--primary-text-color);
    background-color: var(--additional-bcg-color);
}
.filter:hover,
.filter:focus{
    color: var(--white-text-color);
    background-color: #2196F3;
}
.portfolio-list-link{
    color: inherit;
}
.portfolio-list-description{
    color: var(--secondary-text-color);
}